@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <h1 class="display-4">Series Don Juan</h1>
        <p>Series para todo el dia</p>
        <img class="logo" src="/Logo.png">
    </div>
</div>
