html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
  padding: 0%;
}
.container{
  width: 100%;
}

.logo 
{
  width: 3%;
  display: flex;
  position: absolute;
  right: 35.5%;
  top: 1%;
}

.containerCard
{  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.containerCard .card{
  margin: 10px;
  border: solid rgb(209, 19, 54) 4px;
}

h5{
  font: bold;
  font-style:oblique;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containerBoton
{
  margin: -3px;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}